.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url(../images/Like-button_active.svg);
}

.card__delete-button {
  background: url(../images/trash.svg) center no-repeat;
  width: 15.44px;
  height: 13.51px;
  position: absolute;
  top: 18px;
  right: 15px;
  color: #ffffff;
  background-size: contain;
  border: none;
}

.card__delete-button:hover {
  cursor: pointer;
}
