.cards {
  margin-top: 51px;
  margin-bottom: 67px;
  font-family: Inter, Arial, sans-serif;
  color: #000000;
}

.cards__list {
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap: 20px 17px;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .cards {
    margin: 36px 19px 0;
  }
}
