.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 60px;
  max-width: 318px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .footer {
    max-width: 282px;
    padding: 0px 19px 0;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    text-align: left;
    margin-bottom: 36px;
  }
}
