.header {
  margin-top: 45px;
  border-bottom-color: rgba(84, 84, 84, 0.7);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-sizing: border-box;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 970px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
  }

  .header__logo {
    margin-left: auto;
    margin-bottom: 32px;
    width: 124px;
    height: 24px;
  }
}

@media screen and (max-width: 321px) {
  .header__logo {
    margin-left: 27px;
  }
}
