.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  transition: opacity 0.6s linear;
  opacity: 0;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibiltiy 0s linear;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  width: 430px;
  height: 330px;
  padding: 0 30px 30px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.modal__preview-container {
  background: none;
  padding: 0;
  height: 500px;
  margin: auto;
  border: none;
  position: relative;
}

.modal__image {
  max-width: 100%;
  max-height: 100%;
}

.modal__label {
  position: relative;
  display: block;
}

.modal__image-caption {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #fff;
}

.modal__title {
  position: absolute;
  left: 0;
  margin: 0;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  top: calc(100% + 10px);
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: black;
  margin-top: 34px;
  margin-bottom: 30px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__button {
  width: 100%; /* Make the button width 100% of its container */
  padding: 10px; /* Adjust padding to match the input */
  box-sizing: border-box; /* Ensure padding is included in the width */
  border: 1px solid #ccc; /* Add border to the button */
  border-radius: 4px; /* Add border radius to match the input */
  background-color: #000; /* Button background color */
  color: #fff; /* Button text color */
  font-family: "Inter", Arial, sans-serif;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  cursor: pointer; /* Change cursor to pointer */
}

.modal__button_disabled {
  background-color: #ccc; /* Disabled button background color */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

.modal__button:hover {
  opacity: 0.6s;
}

.modal__input {
  width: 100%; /* Make the input width 100% of its container */
  padding: 10px; /* Adjust padding to match the button */
  box-sizing: border-box; /* Ensure padding is included in the width */
  border: 1px solid #ccc; /* Add border to the input */
  border-radius: 4px; /* Add border radius to match the button */
  transition: border-bottom 0.3s;
  color: #000;
  margin-bottom: 30px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(84 84 84 / 0.7);
}

.modal__input-container {
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-container {
  position: relative;
}

.modal__error {
  visibility: hidden;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  transition: opacity 0.3s;
  top: 33px;
  left: 0;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border-radius: 8px;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  transition: background 0.3s;
}

.modal__submit-button-disabled {
  background: rgba(33, 33, 33, 0.5);
}

.modal__submit-button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__submit-cancel {
  background-color: #ff6565;
  color: #212121;
  border: none;
}

.modal__submit-cancel:hover {
  background-color: #212121;
  color: #fff;
}
.modal__error_visible {
  visibility: visible;
}

@media screen and (max-width: 480px) {
  .modal__close {
    width: 126px;
    height: 26px;
    right: -90px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    padding: 22px 16px 123px;
    margin-bottom: 76px;
  }

  .modal__heading {
    max-width: 238px;
    height: 22px;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 76px;
  }

  .modal__input {
    max-width: 238px;
    height: 28px;
    padding: 0px 0px 9px 0px;
    margin-bottom: 30px;
  }

  .modal__label {
    position: relative;
    display: block;
  }

  .modal__button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    margin-top: 16px;
    line-height: 16.94px;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    padding-right: 0;
  }
}
